<%- include("partials/header") %>
    <div class="table-container">
      <h2 class="todo-title">Todo list</h2>
      <div>
        <a class="btn" href="/add-todo">Add todo</a>
      </div>
      <br />

      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Action</th>
        </tr>
        <tr>
          <% for(let i =0; i < todos.length; i++) { %>
            <td><%= todos[i].title %></td>
            <td><%= todos[i].desc %></td>
            <td><%= moment(todos[i].createdAt).format("MMM DD, YYYY, HH:mm:ss")  %></td>
            <td><%= moment(todos[i].updatedAt).format("MMM DD, YYYY, HH:mm:ss") %></td>
            <td>
              <a class="btn" href="/update-todo?id=<%= todos[i]._id %>">Edit</a>
              <a class="btn" href="/delete-todo?id=<%= todos[i]._id %>">Delete</a>
            </td>
        </tr>
          <% } %>    
      </table>
    </div>
<%- include("partials/footer") %>
