<%- include("partials/header") %>
    <div class="table-container">
      <h2 class="todo-title">Update todo</h2>

      <div>
        <a class="btn" href="/">Back</a>

        <form action="/update-todo/<%= todo._id %>" method="post">
          <div class="update-todo">
            <div class="form-group">
              <label for="title" class="text-light">Title</label>
              <input
                type="text"
                name="title"
                value="<%= todo.title %>"
                placeholder="Type todo here"
              />
            </div>

            <div class="form-group">
              <label for="desc" class="text-light">Description</label>
              <input
                type="text"
                name="desc"
                value="<%= todo.desc %>"
                placeholder="Type description here"
              />
            </div>

            <div class="form-group">
              <button type="submit" class="btn">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
<%- include("partials/footer") %>